<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /tagydes/

    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.+)/$ /tagydes/$1 [R=301,L]

    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.php [L]
</IfModule>
